:root {
    --primary: #488aff;
    --secondary: #32db64;
    --danger: #f53d3d;
    --light: #f4f4f4;
    --dark: #222;
}

.lemosen-popup {
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
    background-color: rgba(8, 8, 8, 0.65);
    outline: 0;
}

.lemosen-popup-body {
    font-size: 2rem;
    border-radius: 15px;
    position: relative;
    top: 20%;
    margin: 0 auto;
    width: 35vw;
    background: white;
    text-align: center;
}

.lemosen-popup-head {
    padding: 1vh;
}

.lemosen-popup-content {
    padding: 1vh;
}

.lemosen-popup-buttons {
    height: 5vh;
    border-top: 2px solid var(--light);
}

.lemosen-popup-buttons span {
    height: 5vh;
    box-sizing: border-box;
    display: inline-block;
}

.lemosen-popup-button {
    height: 5vh;
    padding: 1vh;
}

.lemosen-popup-sure-button {
    color: var(--primary);
    border-right: 2px solid var(--light);
}

.lemosen-popup-cancel-button {
    color: var(--danger);
}

.lemosen-popup-close {
    float: right;
    padding-right: 10px;
}